* {
  font-family:Merriweather, serif;
}

html, body {
  font-size:16px;
  border:0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Merriweather:100:200:400:800, serif;
}

footer {
background-color:DarkSlateGray;
color:White;
display: block;
}

div {
  height: 100%;
  width: 100%;
}

.row{
	display:flex;
	width:100%;
}

.container {display:flex;}

#row1 {
	height: 5%;
	vertical-align:center;
	justify-content:center;
}

#container2{
	width:30%;
	margin-left:20%;
}

#container3{
	width:45%;
	margin-left:5%;
}

#title{
	text-align:left;
	padding-top:8%;
	padding-left:5%;
	padding-bottom:2%;
	font-family: 'Playfair Display', serif;
 }
 
 .navbar{
	padding-top:7%;
	padding-bottom:2%; 
 }

.navbar li {
  color: #666666;
  display: inline-block;
  font-family: 'Merriweather', sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  margin: 0% 1% 0% 1%;
  padding: 0%;
  border: 0% 5%;
  text-transform: uppercase; 
  text-align: center; 
  vertical-align:bottom;
}

.navbar	 li:hover {
 color: #999999;
}

.navbar ul{
  padding:0;
  size:cover;
  }

#row2{
	padding:0%;
	margin:0%;
	border:0%;
}

.opening {
  display: flex;
  color: Black;
  font-family: Merriweather, sans serif;
  font-weight: 400;
  text-align: auto;
  padding: 1% 0% 1% 0%;
}

#open1 {
  margin: 0% 45% 0% 3%;
  padding-top:5%;
  font-family:Merriweather;  
}

#open2 {
	margin: 0% 45% 0% 3%;
}


#open3 {
	margin: 0% 45% 0% 3%;
  text-align:right;
  padding-bottom:15%;
  }
  
 #open4 {
	 margin: 0% 45% 0% 3%;
 }
/* main content formtting*/
.pinkribbon {
  background: url(https://jamesbundred.github.io/prf.jpg) no-repeat center center;
  background-size:cover;
}

/* banner below content*/
.furtherinfo {
	background-color:rgb(186,64,101);
	display:flex;
	font-size:1.5rem;
}

.infotext{
	display:flex;
	justify-content:center;
	color:white;
	font-size:1.5rem;
}
.enquiries {
	color:rgb(255,255,255);
	text-decoration:none;
}
.enquiries a:hover{
	text-decoration:underline;
}

/* triple column formatting*/
/*#ff0cea */

.minirow1{
	display:flex;
}


#container3a{
	width:20%;
}

#lawyermonthly{
	max-height:100%;
}



.colu{
	margin:0% 2%;
}	

.twitter{
	padding-left:5%;
}

.para{
	text-align:left;	
}

#container4{padding-left:10%;}


.blurb {
	margin-left:5%;
	margin-right:5%;
}

.news{
	margin-left:5%;
	margin-right: 5%;
}

/*end of section*/

.summary{
	padding:0;
}

.summary li {
	display:flex;
	border-bottom: 2px dotted Gray;
	width:100%;
	padding: 2% 0 0 0;
	list-style:none;
	margin-left:0;
}

.summary a {
	color:black;
	font-style:normal;
	text-decoration:none;
	padding-left:1%;
	vertical-align:center;
}


.date{
	font-size:0.7rem;
	min-width:30%;
	padding-right:0;
	color:#666666;
	padding-top: 5%;
}

#more{width:100%;}

.footerlist li{
	text-decoration:none;
	font-style:normal;
	list-style:none;
	padding-top:1%;
	color:rgb(255,255,255);
}

.footerlist{
	padding-left:0;
	list-style:normal;
	text-decoration:none;
}

.footerlist a:active{
	text-decoration:none;
	color:rgb(255,255,255);
}
.footerlist a{
	color:rgb(255,255,255);
	text-decoration:none;
}

.links {
  width: 20%;
  display: inline-block;
  padding: 0% 1% 0% 1%;
}

.links li {
  font-family: 'Merriweather', sans-serif;
  font-size: 0.7rem;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px; 
  padding: 5px;
  align: center; 
}

.SM1 {
 display: inline-block;
 width: 20%;
 padding: 0% 1% 0% 1%;
}

.SM1 li {
font-size:11px;
}

#links_header {
  text-transform:uppercase;
}

.contactdetails {
  display:inline-block;
  width:20%;
  padding: 0% 1% 0% 1%;
  align: center top;
}

.contactdetails li {
align:center;
font-size:0.7rem;
}

#contacttitle {
text-transform:uppercase
}

.address {
  display:inline-block;
  width:20%;
  padding: 0% 1% 0% 10%;
}

#add {
text-transform: uppercase;
}

/*Our team page*/
.content1 {
	background-color:rgb(248,236,240);
	background-color:rgba(186,64,101,0.1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* Standard syntax */
}

.copy{
	padding:0;
	margin:0;
	border:0;
}

#nige{
	margin-top:1%;
	margin-left:20%;
	margin-right:20%;
	margin-bottom:1%;
	vertical-align:center;
}

#title2{
	text-align:center;
	float:left;
	vertical-align:center;
}


#nigelpara{
	margin: 0% 10%;
	font-size:0.8rem;
}

#nigelpara a{
	padding-top:0%;
	text-decoration:none;
	color:rgb(186,64,101);
}

#nigelpara a:hover{
	text-decoration:underline;
}

#qualifications {
	margin:0% 10%;
}

#qualification {
	font-size:0.8rem;
}

#committee{
	margin:0% 10%;
}

#committees {
	font-size:0.8rem;
}

#publication{
	margin:0% 10% 0% 10%;
}

#publication a{
	padding-top:0%;
	text-decoration:none;
	color:rgb(186,64,101);
}

#publication a:hover{
	text-decoration:underline;
}

.furtherlinks{
	margin:0% 10% 0% 10%;
}

.furtherlinks a{
	text-decoration:none;
	color:rgb(186,64,101)
}

.furtherlinks a:hover{
	text-decoration:underline;
}

#bio,#qualification,#committees,#publications,.furtherlinks {
	color:#53565b;
}

/*contact-us*/
.display1{
	display:flex;
	justify-content:center;
	margin-left:4%;
	margin-right:4%;
	color:White;
}
.contactdetails1{
	text-decoration:none;
	list-style:none;
	list-style-type:none;
	padding:0;
	color:white;
}
#det{
	font-size:1.2rem;
}

#addr{
	font-size:1.2rem;
}
#soc{
	font-size:1.2rem;
}
.contactdetails1 li{
	color:white;
	font-size:1rem;
}
.mediaicons a{
	margin:5%;
}

#address2{
	padding:0;
	text-decoration:none;
	list-style:none;
	list-style-type:none;
}

#address3{
	margin-left:3%;
}


/*Conact us form*/
.contactform {
	margin: 0;
	padding: 0;
}

#page-wrap {
	width: 660px;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

/*Medico-legal news page of website*/
.content1{
	padding:0;
	margin:0;
	border:0;
}
.newsimage{
	margin-top:2%;
	margin-bottom:2%;
	margin-left:2%;
}

.newsheader{
	background-color:rgb(186,64,101);
	text-align:center;
	padding:1%;
	margin:0%;
	border:0%;
}
#summary1 {
	background-color:rgb(248,236,240);
	background-color:rgba(186,64,101,0.1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(186,64,101,0.5),rgba(186,64,101,0.1)); /* Standard syntax */
}

#summary1 ol {
	padding-top:0;
	margin-top:0;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

h1{
	font-family: Merriweather, sans serif;
font-size: 1.8rem;
font-weight: 200;
font-style:normal;
}

h2 {
font-size: 1.3rem;
font-weight: 100;
font-style:normal;
}

h3 {
font-size: 1.2rem;
font-weight: 400;
font-style:normal;
}

h4 {
font-size: 1.1rem;
font-weight: 100;
font-style:normal;
}

h5 {
font-size: 0.8rem;
font-weight: 100;
font-style:normal;
}

p {
font-family:Merriweather, sans serif;
font-size:0.8rem;
font-weight: 400;
font-style:normal;
}

a {
font-style:normal;
color: normal;
}

